html {
    height: 100%
}
body {
    height: 100%;
    margin: 0;
    padding: 0
}
#map {
    height: 100%;
    position: relative
}
.leaflet-map-pane {
    z-index: 2 !important;
}
.leaflet-google-layer {
    z-index: 1 !important;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
/*
.userInputControl {
    line-height: 18px;
    color: #555;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 0 0 5px;
    color: #777;
}
*/
 .titlecell {
    font-weight: bold;
    text-transform: uppercase;
}
.icon {
    width:40px;
    height:40px;
}
h4 {
    text-align:center;
}
/**
* CSS for AHP Fade
**/
 .fadeeffect {
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}


/**
* CSS for AHP Entry Form
**/
 .flatform {
    font: 400 1em/1.5 "Open Sans" sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size:1.1em;
}
.switch {
    color: #6f839a;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.5em;
    border-radius: 3px;
    padding: .125em .5em;
    display: inline-block;
    background-color: #3e4956;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -ms-transition: .15s ease;
    -o-transition: .15s ease;
    transition: .15s ease;
    font-weight:normal;
}
input[type="radio"]:checked + .switch {
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
}
input[type="radio"]:checked + .switch--on {
    background-color: #7eab55;
}
input[type="radio"]:checked + .switch--off {
    background-color: #dd4a38;
}
/**
* Loader
**/
 .splashlayer {
    height: 100%;
    width: 100%;
    background-color: #d35400;
    display:block;
}
.genericcontainer {
    position: fixed;
    top:50%;
    left:50%;
    color: #fff;
}
[class*="loader--"] {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
}
.loader--spin {
    border: .125em solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    border-left-color: #fff;
    -webkit-animation: spin .7s infinite linear;
    -moz-animation: spin .7s infinite linear;
    -o-animation: spin .7s infinite linear;
    animation: spin .7s infinite linear;
}
@keyframes"spin" {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        transform: rotate(120deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(120deg);
        transform: rotate(120deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes"spin" {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes"spin" {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes"spin" {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(120deg);
        transform: rotate(120deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loader--pulse {
    border-radius: 50%;
    background: #d35400;
    -webkit-animation: pulse .7s infinite linear;
    -moz-animation: pulse .7s infinite linear;
    -o-animation: pulse .7s infinite linear;
    animation: pulse .7s infinite linear;
}
@keyframes"pulse" {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    to {
        -moz-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
@-webkit-keyframes"pulse" {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
@-o-keyframes"pulse" {
    from {
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes"load" {
    0% {
        left: 0%;
    }
    50% {
        left: 35%;
    }
    100% {
        left: 100%;
    }
}
@-moz-keyframes load {
    0% {
        left: 0%;
    }
    50% {
        left: 35%;
    }
    100% {
        left: 100%;
    }
}
@-webkit-keyframes"load" {
    0% {
        left: 0%;
    }
    50% {
        left: 35%;
    }
    100% {
        left: 100%;
    }
}
@-ms-keyframes"load" {
    0% {
        left: 0%;
    }
    50% {
        left: 35%;
    }
    100% {
        left: 100%;
    }
}
@-o-keyframes"load" {
    0% {
        left: 0%;
    }
    50% {
        left: 35%;
    }
    100% {
        left: 100%;
    }
}

/**
* Just for a close button:
**/

.alert-close {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:1.15em;
    font-weight:bold;
    font-style:normal;
    font-variant: small-caps;
    height:50px;
    line-height:50px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #cc9f52;
}
.alert-close:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color:#fb9e25;
}.alert-close:active {
    position:relative;
    top:1px;
}

.bruceBanner{
    width:100%;
    background-color: #d35400;
}


